body{
background-color:lightblue;
}
h1{
color:white;
text-align:center;
font-family: 'Montserrat', sans-serif;;
}
p{
padding:50px;
text-align:left;
font-size:20px;
font-family: 'Montserrat', sans-serif;
}
img{
padding:50px;
}
p{
font-family: 'Montserrat', sans-serif;
}