body{
background-color:#271104;
}
h1{
color:#ae872a;
text-align:center;
font-family: 'Montserrat', sans-serif;;
}
p{
padding:50px;
text-align:center;
font-size:20px;
font-family: 'Montserrat', sans-serif;
}
h3{
font-family: 'Montserrat', sans-serif;
color:#651a12;
}
img{
padding:50px;
}
p{
font-family: 'Montserrat', sans-serif;
color:#271105;
}
ul{
font-family: 'Montserrat', sans-serif;
color:#651a12;
}